#ccij_header {
	height: 64px;
	text-align: center;
	background: url('../images/ccij-header-bg.jpg');
	background-repeat: repeat-x;
	overflow: hidden;
}

.entry-point-img {
	float: left;
	margin-right: 8px;
}

#ccij_outcomes {
	display: none;
}

.ccij-outcome {
	margin-top: 25px;
}

.ccij-outcome img {
	float: left;
}

.ccij-outcome .outcome-title {
	float: left;
	margin-left: 10px;
}

.ccij-outcome div.outcome-description {
	padding-top: 10px;
	clear: both;
}

#flow {

}

#flow_body {
	display: none;
}

#flow_print {
	display: none;
}

#flow_scratch {
	display: none;
}

.clickable {
	cursor: pointer;
}

.clearer { 
	clear: both;
}

.spacer-10 {
	margin: 10px 0 10px 0;
}

.spacer-5 {
	margin: 5px 0 5px 0;
}

.outcome-abbreviation {
	display: none;
}

.outcome-url {
	display: none;
}

