#ccij_main,#flow_size_check,.wise-toolbar,.wise-header,.wise-nav-container,.wise-footer,.wise-foot,.question-important-note,.question-answerer-check-yes-no-radio {
	display: none;
}

.print-question {
	margin-bottom: 10px;
}

#flow_print {
	display: block;
}
