.clickable-colour {
	color: #0000ff;
}

.clickable-colour:hover {
	color: #9900ff;
}

.flow-carousel-navigation {
	visibility: hidden;
	position: relative;
	top: 20px;
	z-index: 1;
}

#flow_carousel_navigation_back {
	float: left;
}

#flow_carousel_navigation_forward {
	float: right;
}

.question-container-background {
	height: 300px;
	width: 100%;
	background-color: #dddddd;
}

/* overriding default Bootstrap Carousel styles so that questions are always shown within question background (above) */
.carousel-caption {
	top: 0; 
	height: 300px;
	overflow: auto;
	width: 100%;
	right: 0;
	left: 0;
	padding: 0 20px 0 20px;
}

#flow_outcomes {
	clear: both;
}

#flow_outcome_details {
	display: none;
}

.question {
	text-align: left;
	color: black;
}

.answers {
	padding: 20px 0 0 10px;
	text-align: left;
	color: black;
}

.answer {
	height: 24px;
}

.answer-content {
	float: left;
	font-weight: bold;
}

.answer-pad {
	float: left;
	width: 24px;
	padding: 2px;
}

.selected-answer-pad {
	background: url('img/tick-20x20.png') no-repeat;
}

.outcome-container {
	
}

.outcome-availability-container {
	margin-bottom: 15px;
}

.outcome-preview-container img {
	z-index: 1;
}

.outcome-preview-unavailable {
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.outcome-preview-available {
	
}

#flow_outcome_details {
	display: none;
}

#flow_outcome_details_image {
	float: left;
}

#flow_outcome_details_title {
	float: right;
}

#flow_outcome_details_description {
	clear: both;
}
