.clickable-colour {
	color: #0000ff;
}

.clickable-colour:hover {
	color: #9900ff;
}

#flow_carousel {
	background-color: #f3f3f3;
}

.flow-carousel-navigation {
	visibility: hidden;
	position: absolute;
	z-index: 2;
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #c5c5c5;
	width: 25px;
	text-align: center;
}

.flow-carousel-navigation:hover {
	background-color: #d0d0d0;
}

#flow_carousel_navigation_back {
	float: left;
	left: 0;
}

#flow_carousel_navigation_forward {
	float: right;
	right: 0;
}

/*
#flow_content_items {
	background-color: #f3f3f3;
}
*/
/*
.question-container-background {
	height: 300px;
	background-color: #f3f3f3;
}
*/

/* overriding default Bootstrap Carousel styles so that questions are always shown within question background (above) */
.carousel-caption {
	overflow: hidden;
	position: inherit;
	top: 0; 
	/*height: 300px;*/
	overflow: auto;
	padding-right: 30px;
	padding-left: 30px;
	left: 0;
	z-index: 1;
	padding-top: 0;
	padding-bottom: 0;
}

.question-container {
	height: 300px;
	overflow: hidden;
}

.question {
	margin-bottom: 10px;
}

#flow_outcomes {
	clear: both;
}

#flow_outcome_details {
	display: none;
}

.question {
	text-align: left;
	color: black;
}

.answers {
	padding: 5px 0 0 0;
	text-align: left;
	color: black;
}

.answer {
	height: 24px;
}

.answer-content {
	float: left;
	font-weight: bold;
}

.answer-pad {
	float: left;
	width: 24px;
	padding: 2px;
}

.selected-answer-pad {
	background: url('img/tick-20x20.png') no-repeat;
}

.outcome-container {
	
}

.outcome-availability-container {
	margin-bottom: 15px;
}

.outcome-preview-container img {
	z-index: 1;
}

.outcome-preview-unavailable {
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.outcome-preview-available {
	
}

#flow_outcome_details {
	display: none;
}

#flow_outcome_details_image {
	float: left;
}

#flow_outcome_details_title {
	float: right;
}

#flow_outcome_details_description {
	clear: both;
}

#flow_outcome_modal_unanswered_count {
	display: none;
}

.minor-info {
	font-size: small;
	color: gray;
}

.carousel-caption {
	text-shadow: none;
}

.question-explanation-header {
	color: #2d6ca2;
}

.question-explanation-content {
	display: none;
	border: 1px dashed #2d6ca2;
	margin: 5px 0 5px 0;
	padding: 5px;
}

.question-explanation-content ul {
	list-style: square;
}

.btn-unavailable {
	background-color: transparent;
	background-image: none;
	cursor: default;
}

.btn-unavailable:focus {
	outline: none;
}
