@import url('../lib/bootstrap/css/bootstrap.min.css');
@import url('../lib/bootstrap/css/bootstrap-theme.min.css');
@import url('../lib/jquery-ui/flick/jquery-ui.min.css');
@import url('./flow/flow.css');

html, body {
	height: 100%;
}

body {
	font-family: sans-serif;
}

a {
	word-break: break-all;
}

input[type='text'], textarea {font-size: 16px;}

#ccij_pre_header_wrap_outer {
	min-height: 100%;
}

#ccij_pre_header_wrap {
	padding-bottom: 50px;
}

#ccij_header {
	height: 64px;
	text-align: center;
	background: url('../../images/ccij-header-bg.png?flow-v=0.9.5');
	background-repeat: repeat-x;
	overflow: hidden;
}

#ccij_header img {
	border: 0;
}

.entry-point {

}

.entry-point-img {
	float: left;
	margin: 0 8px 0 0;
}

#ccij_outcomes {
	display: none;
}

.ccij-outcome {
	margin: 25px 0 0 0;
}

.ccij-outcome img {
	float: left;
}

.ccij-outcome .outcome-title {
	float: left;
	margin: 0 0 0 10px;
}

.ccij-outcome div.outcome-description {
	padding: 10px 0 0 0;
	clear: both;
}

.outcome-caveat {
	padding: 10px 0 0 0;
}

#flow {

}

#flow_body {
	display: none;
}

#flow_print {
	display: none;
}

#flow_scratch {
	display: none;
}

.clickable {
	cursor: pointer;
}

.clearer { 
	clear: both;
}

.spacer-20 {
    margin: 20px 0 20px 0;
}

.spacer-10 {
	margin: 10px 0 10px 0;
}

.spacer-5 {
	margin: 5px 0 5px 0;
}

.outcome-abbreviation {
	display: none;
}

.outcome-url {
	display: none;
}

.caveat {
	color: red;
}

.justified p {
	text-align: justify;
}

.italic {
	font-style: italic;
}

#ccij_footer {
	border-top: 1px solid #d0d0d0;
	height: 40px;
	position: relative;
	margin-top: -40px;
	clear:both;
	display: table;
	width: 100%;
	padding: 0 10px 0 10px;
	font-size: small;
	color: gray;
	text-align: center;
}

#ccij_footer div {
	display: table-cell;
	vertical-align: middle;
}

#ccij_footer a {
	word-break: normal;
}

img.sprites { background: url(../../images/sprites.png?flow-v=0.9.5) no-repeat; }
img.achpr { width: 75px; height: 75px; background-position: 0 0; }
img.africancourt { width: 75px; height: 75px; background-position: -76px 0; }
img.book { width: 48px; height: 48px; background-position: -152px -141px; }
img.bosnia { width: 75px; height: 75px; background-position: -152px 0; }
img.canada-flag { width: 75px; height: 75px; background-position: -228px 0; }
img.canada { width: 75px; height: 75px; background-position: 0 -76px; }
img.ccij-header-bg { width: 1px; height: 64px; background-position: -277px -141px; }
img.ccij-logo-e { width: 175px; height: 64px; background-position: -152px -76px; }
img.ccij-logo-f { width: 175px; height: 64px; background-position: -76px -239px; }
img.ccij-name { width: 249px; height: 64px; background-position: 0 -304px; }
img.eccc { width: 75px; height: 75px; background-position: -76px -76px; }
img.echr { width: 75px; height: 75px; background-position: -201px -141px; }
img.ecowas { width: 75px; height: 75px; background-position: 0 -152px; }
img.emblem-notice { width: 24px; height: 24px; background-position: -279px -190px; }
img.gavel { width: 48px; height: 48px; background-position: -279px -141px; }
img.icc { width: 75px; height: 75px; background-position: -76px -152px; }
img.oas { width: 75px; height: 75px; background-position: -252px -217px; }
img.test { width: 48px; height: 48px; background-position: -152px -190px; }
img.tick { width: 20px; height: 20px; background-position: -304px 0; }
img.un-hr { width: 75px; height: 75px; background-position: 0 -228px; }
img.un-women { width: 75px; height: 75px; background-position: -252px -293px; }

div.white-gradient-right-15 { background: url(../../images/white-gradient-right-15.png?flow-v=0.9.5) repeat-y; }
