<div class="modal" id="flow_feedback_modal" tabindex="-1" role="dialog" aria-labelledby="flow_feedback_modal_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="flow_feedback_modal_label">Send Feedback</h4>
			</div>
			<div class="modal-body" id="flow_feedback_modal_body">
				<div>
					<h4>Your Email Address</h4>
					<div class="input-group col-16 col-xs-16 col-sm-16 col-md-16 col-lg-16">
						<input id="flow_feedback_from" type="text" class="form-control" placeholder="Your Email Address">
					</div>
				</div>
				<div class="spacer-10"></div>
				<div>
					<h4>Your Comment</h4>
					<textarea id="flow_feedback_message" class="form-control" rows="5"></textarea>
				</div>
				<div class="spacer-10"></div>
				<div>
					<button type="button" id="flow_feedback_send" disabled="disabled" class="btn btn-primary">Envoyer</button> 
					<img id="flow_feedback_load" src="images/small-load.gif" width="24px" height="24px" style="display: none;" />
					<span class="glyphicon glyphicon-ok" id="flow_feedback_success" style="display: none;" title="Feedback sent"></span>
					<span class="glyphicon glyphicon-remove" id="flow_feedback_fail" style="display: none;" title="Send failed"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Près</button>
			</div>
		</div>
	</div>
</div>
