<div class="row">
	<div class="col-24 col-xs-24 col-sm-24 col-md-24 col-lg-24">
		<div id="flow_outcome_unanswered_count" class="alert alert-warning"></div>
		<p class="outcomes-hide clickable" style="float: left;"><span class="glyphicon glyphicon-arrow-left"></span> retourner au questionnaire</p>
		<div style="float: right;">
			<span class="glyphicon glyphicon-send clickable feedback-send-link" title="provide feedback"></span> 
			<span class="glyphicon glyphicon-envelope clickable results-send-link" title="email your results"></span>
		</div>
		<div class="clearer"></div>
		<ul class="nav nav-tabs">
			<li id="flow_outcome_available_link" style="width: 33%;">
				<a class="outcome-tab-link" href="#flow_outcome_available" data-toggle="tab">Options disponibles</a>
			</li>
			<li style="width: 33%;">
				<a class="outcome-tab-link" href="#flow_outcome_unavailable" data-toggle="tab">Options non disponibles</a>
			</li>
			<li id="flow_outcome_what_now_link" style="width: 33%;">
				<a class="outcome-tab-link" href="#flow_outcome_what_now" data-toggle="tab">Que faire par la suite?</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="flow_outcome_available">
				<div class="spacer-10"></div>
				<p id="flow_available_options_note">D’après les réponses aux questions que vous avez fournies, les options suivantes peuvent être disponibles pour vous. Cependant, les résultats doivent être révisés par le CCJI, par d’autres organisations des droits de la personne ou par un(e) avocat(e). Veuillez s’il vous plaît noter que ce site ne fournit que des renseignements et non un avis juridique. Un cas juridique ne peut pas s’appuyer sur les résultats de ce questionnaire puisque chaque cas et chaque procédure judiciaire est extrêmement unique et complexe. Ce site Web est conçu pour vous aider à comprendre quelles options peuvent être disponibles mais n’est pas conçu pour tirer une conclusion définitive concernant votre cause.</p>
				<p>Click on any of the options for more information.</p>
				<div id="flow_no_available_options_note_container">
					<h4>No Available Options</h4>
					<p>Based on the questions you have answered, it is possible there may not be any suitable options available. However, this questionnaire cannot provide a conclusive answer, since individual cases can be complex. If you want to explore other options, we recommend that you contact CCIJ. Contact details are provided at the bottom of this page and at the <a href="http://ccij.ca/about/contact/index.php" target="_blank">CCIJ site</a>.</p>
				</div>
				<div id="flow_outcome_available_outcomes"></div>
			</div>
			<div class="tab-pane" id="flow_outcome_unavailable">
				<div class="spacer-10"></div>
				<p id="flow_unavailable_options_note">Sur la base des réponses que vous avez fournies, les options suivantes peuvent ne pas être disponibles pour vous. Toutefois, ces résultats devraient être examinés par CCJI, par une autre organisation des droits de l'Homme ou par un(e) avocat(e). Veuillez s'il vous plaît noter que ce site fournit uniquement des informations, pas de conseils juridiques. Un cas juridique ne peut s’appuyer sur les résultats de ce questionnaire, puisque chaque cas et chaque processus juridique est extrêmement complexe et unique. Ce site est conçu pour vous aider à comprendre quelles sont les options pouvant être disponibles et n'est pas conçu pour tirer une conclusion définitive au sujet de votre cas.</p>
				<p>Click on any of the options for more information.</p>
				<div id="flow_outcome_unavailable_outcomes"></div>
			</div>
			<div class="tab-pane" id="flow_outcome_what_now">
				<div class="row">
					<div class="col-24 col-xs-24 col-sm-24 col-md-24 col-lg-24">
						<h3 class="pull-left">Que faire par la suite?</h3>
                        <button type="button" class="btn btn-primary feedback-send-link pull-right" style="margin-top: 15px;">Rétroaction</button>
                        <div class="clearer"></div>
						<p>Vous pouvez prendre n’importe laquelle des étapes suivantes ou terminer votre session.</p>
						<ol id="flow_next_steps_list">
							<li>
								<strong>En apprendre davantage sur les options qui s’offrent à vous.</strong> Plus de renseignement concernant vos options peuvent être trouvés dans l’onglet "Options disponibles" ou la section "Apprenez au sujet des institutions judiciaires" ci-dessus. En plus des descriptions des différents tribunaux ou cours, ces sections suggèrent des liens pour en savoir plus.
							</li>
							<!--
							<li>
								<strong>Read about what other survivors have done.</strong> Our "Stories" section has descriptions about current and past CCIJ cases and interviews with individuals who have sought justice. This section can give you a better sense of what occurs when a person tries to take action in different international or Canadian legal processes.
							</li>
							-->
							<li>
								<strong>Joindre le CCJI pour discuter de votre cause.</strong> Les coordonnées sont fournies au bas de cette page et sur le <a href="http://www.ccij.ca/" target="_blank">site du CCJI</a>.
								<div class="spacer-10"></div>
								<ul>
									<li>Si vous désirez nous faire parvenir directement vos résultats, veuillez s’il vous plaît cliquer <span class="clickable clickable-colour results-send-link" style="text-decoration: underline;">ici</span> et inscrire votre adresse courriel.</li>
									<li>If you want to receive regular updates from CCIJ, please provide your email address below.</li>
								</ul>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="input-group col-16 col-xs-16 col-sm-16 col-md-16 col-lg-16 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<input id="flow_identity_email" type="text" class="form-control" placeholder="Your Email Address">
						<input type="checkbox" id="flow_identity_news" style="display: none;" checked="checked" />
					</div>
                    <div class="spacer-10"></div>
				</div>
				<div class="row">
					<div class="col-16 col-xs-16 col-sm-16 col-md-16 col-lg-16 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<button type="button" id="flow_identity_send" disabled="disabled" class="btn btn-primary">Envoyer</button>
						<span id="flow_identity_thanks">Merci!</span>
					</div>
				</div>
			</div>
		</div>
		<br />
		<p class="outcomes-hide clickable"><span class="glyphicon glyphicon-arrow-left"></span> retourner au questionnaire</p>
	</div>
</div>
