<div class="row">
	<div class="col-24 col-xs-24 col-sm-24 col-md-24 col-lg-24">
		<div id="flow_outcome_unanswered_count" class="alert alert-warning"></div>
		<p class="outcomes-hide clickable" style="float: left;"><span class="glyphicon glyphicon-arrow-left"></span> retourner au questionnaire</p>
		<div style="float: right;">
			<span class="glyphicon glyphicon-send clickable feedback-send-link" title="Donner votre rétroaction"></span> 
			<span class="glyphicon glyphicon-envelope clickable results-send-link" title="Envoyer vos résultats"></span>
		</div>
		<div class="clearer"></div>
		<ul class="nav nav-tabs">
			<li id="flow_outcome_available_link" style="width: 33%;">
				<a class="outcome-tab-link" href="#flow_outcome_available" data-toggle="tab">Options disponibles</a>
			</li>
			<li style="width: 33%;">
				<a class="outcome-tab-link" href="#flow_outcome_unavailable" data-toggle="tab">Options non disponibles</a>
			</li>
			<li id="flow_outcome_what_now_link" style="width: 33%;">
				<a class="outcome-tab-link" href="#flow_outcome_what_now" data-toggle="tab">Que faire par la suite?</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="flow_outcome_available">
				<div class="spacer-10"></div>
				<p id="flow_available_options_note">D’après les réponses aux questions que vous avez fournies, les options suivantes peuvent être disponibles pour vous. Cependant, les résultats doivent être révisés par le CCJI, par d’autres organisations des droits de la personne ou par un(e) avocat(e). Veuillez s’il vous plaît noter que ce site ne fournit que des renseignements et non un avis juridique. Un cas juridique ne peut pas s’appuyer sur les résultats de ce questionnaire puisque chaque cas et chaque procédure judiciaire est extrêmement unique et complexe. Ce site Web est conçu pour vous aider à comprendre quelles options peuvent être disponibles mais n’est pas conçu pour tirer une conclusion définitive concernant votre cause.</p>
				<p>Veuillez cliquer sur l’une des options suivantes pour plus d’information.</p>
				<div id="flow_no_available_options_note_container">
					<h4>Aucune option possible</h4>
					<p>En se fiant sur les réponses que vous avez soumises, il est possible qu’aucune option ne s’offre à vous. Toutefois, étant donné la complexité et la différence de chaque cas, ce questionnaire n’offre pas une réponse concluante. Si vous voulez explorer d’autres options, nous vous conseillons de contacter le CCJI directement. Les coordonnées du CCJI sont au bas de cette page et sur <a href="http://ccij.ca/about/contact/index.php" target="_blank">le site web du CCJI</a>.</p>
				</div>
				<div id="flow_outcome_available_outcomes"></div>
			</div>
			<div class="tab-pane" id="flow_outcome_unavailable">
				<div class="spacer-10"></div>
				<p id="flow_unavailable_options_note">Sur la base des réponses que vous avez fournies, les options suivantes peuvent ne pas être disponibles pour vous. Toutefois, ces résultats devraient être examinés par CCJI, par une autre organisation des droits de l'Homme ou par un(e) avocat(e). Veuillez s'il vous plaît noter que ce site fournit uniquement des informations, pas de conseils juridiques. Un cas juridique ne peut s’appuyer sur les résultats de ce questionnaire, puisque chaque cas et chaque processus juridique est extrêmement complexe et unique. Ce site est conçu pour vous aider à comprendre quelles sont les options pouvant être disponibles et n'est pas conçu pour tirer une conclusion définitive au sujet de votre cas.</p>
				<p>Veuillez cliquer sur l’une des options suivantes pour plus d’information.</p>
				<div id="flow_outcome_unavailable_outcomes"></div>
			</div>
			<div class="tab-pane" id="flow_outcome_what_now">
				<div class="row">
					<div class="col-24 col-xs-24 col-sm-24 col-md-24 col-lg-24">
						<h3 class="pull-left">Que faire par la suite?</h3>
                        <button type="button" class="btn btn-primary feedback-send-link pull-right" style="margin-top: 15px;">Rétroaction</button>
                        <div class="clearer"></div>
						<p>Vous pouvez prendre n’importe laquelle des étapes suivantes ou terminer votre session.</p>
						<ol id="flow_next_steps_list">
							<li>
								<strong>En apprendre davantage sur les options qui s’offrent à vous.</strong> Plus de renseignement concernant vos options peuvent être trouvés dans l’onglet « Options disponibles » ou la section « Apprenez au sujet des institutions judiciaires » ci-dessus. En plus des descriptions des différents tribunaux ou cours, ces sections suggèrent des liens pour en savoir plus.
							</li>
							<!--
							<li>
								<strong>Lire ce que les autres survivants ont fait.</strong> Notre section « Histoire » a la description des causes actuelles et passées du CCJI et des entrevues avec des personnes qui ont cherché des options de justice. Cette section peut vous donner une meilleure idée de ce qui peut se passer lorsqu’une personne essaie de prendre action à travers différentes procédures légales canadiennes ou internationales.
							</li>
							-->
							<li>
								<strong>Joindre le CCJI pour discuter de votre cause.</strong> Les coordonnées sont fournies au bas de cette page et sur le <a href="http://www.ccij.ca/" target="_blank">site du CCJI</a>.
								<div class="spacer-10"></div>
								<ul>
									<li>Si vous désirez nous faire parvenir directement vos résultats, veuillez s’il vous plaît cliquer <span class="clickable clickable-colour results-send-link" style="text-decoration: underline;">ici</span> et inscrire votre adresse courriel.</li>
									<li>Si vous voulez recevoir des mises à jour du CCJI, veuillez s’il-vous-plait inscrire votre courriel ci-dessous.</li>
								</ul>
							</li>
						</ol>
					</div>
				</div>
				<form action="//ccij.us6.list-manage.com/subscribe/post?u=e11d72d430e530dae4f579f1a&amp;id=3d013e3875" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
					<div class="row">
						<div class="input-group col-16 col-xs-16 col-sm-16 col-md-16 col-lg-16 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
							<input id="mce-EMAIL" type="email" name="EMAIL" class="form-control" placeholder="Votre courriel">
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_e11d72d430e530dae4f579f1a_3d013e3875" tabindex="-1" value=""></div>
						</div>
						<div class="spacer-10"></div>
					</div>
					<div class="row">
						<div class="col-16 col-xs-16 col-sm-16 col-md-16 col-lg-16 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
							<button type="button" id="flow_identity_send" disabled="disabled" class="btn btn-primary">Envoyer</button>
							<span id="flow_identity_thanks">Merci!</span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<br />
		<p class="outcomes-hide clickable"><span class="glyphicon glyphicon-arrow-left"></span> retourner au questionnaire</p>
	</div>
</div>
