.clickable-colour {
	color: #2d6ca2 !important ;
}

.clickable-colour:hover {
	color: #0000ff !important;
}

.overflow-slide-list {
	list-style-type: none;
	overflow: hidden;
	width: 10000px;
}

#flow_question_summary_container {
	position: relative;
	height: 46px;
}

#flow_question_summary {
	position: relative;
	height: 35px;
	padding: 0;
	z-index: 1;
	margin: 0;
	left: 0;
	top: -35px;
}

#flow_question_summary_side_pad_left {
	position: relative;
	left: -7px;
	width: 7px;
	height: 35px;
	z-index: 2;
	background-color: #fff;
}

#flow_question_summary_side_pad_right {
	position: absolute;
	right: -7px;
	top: 0;
	width: 15px;
	height: 35px;
	z-index: 2;
}

.question-summary-container {
	float: left;
}

#flow_carousel {
	background-color: #f3f3f3;
}

.flow-carousel-navigation {
	visibility: hidden;
	position: absolute;
	z-index: 2;
	padding: 140px 0 140px 0;
	background-color: #c5c5c5;
	width: 25px;
	text-align: center;
}

.flow-carousel-navigation:hover {
	background-color: #d0d0d0;
}

#flow_carousel_navigation_back {
	float: left;
	left: 0;
}

#flow_carousel_navigation_forward {
	float: right;
	right: 0;
}

.carousel-caption {
	overflow: hidden !important;
	position: inherit;
	top: 0; 
	/*height: 300px;*/
	overflow: auto;
	padding: 0 30px 0 30px;
	left: 0;
	z-index: 1;
}

.question-container {
	height: 300px;
	overflow: hidden;
}

.question {
	margin: 0 0 10px 0;
}

.question-area-appends {
	position: relative;
	top: -10px;
}

.question-activity-indicator {
	padding: 0 0 0 30px;
	font-style: italic;
}

.start-again-control {
	padding: 0 30px 0 0;
	float: right;
	position: relative;
}

.start-again-button {
	padding: 0 10px !important;
}

.questions-progress-report {
	font-size: small;
	font-weight: normal;
}

#flow_outcomes {
	clear: both;
}
.question {
	text-align: left;
	color: black;
}

.answers {
	padding: 5px 0 0 0;
	text-align: left;
	color: black;
}

.answer-display {
	font-weight: bold;
	margin: 0 0 10px 24px;
}

.answer-value {
	display: none;
}

.answer-pad {
	float: left;
	padding: 2px;
}

#flow_content_container_row {
	overflow: hidden;
}

#flow_outcome_preview_row {
	height: 100px;
	padding-left: 0;
}

#flow_available_count_main_container {
	color: #fff;
	font-size: 60px;
	text-align: center;
	background-color: #EE312B;
	width: 120px;
	height: 100px;
	border: 4px double #800000;
	position: relative;
	left: 7px;
	z-index: 2;
}

.available-count-side-pad {
	z-index: 2;
	height: 100px;
}

#flow_available_count_inset {
	position: relative;
	left: 0;
	float: left;
	width: 7px;
	background-color: #fff;
}

#flow_available_count_side_pad_left {
	position: relative;
	background-color: #fff;
	width: 3px;
	left: 127px;
	top: -100px;
}

#flow_available_count_side_pad_right {
	position: absolute;
	right: 0;
	top: 0;
	width: 15px;
}

#flow_available_count_main {
	line-height: 100px;
	vertical-align: center;
	font-family: georgia;
}

#flow_available_outcome_preview_move_container {
	padding: 0 3px 0 130px;
	font-size: large;
}

#flow_available_outcome_preview_move_right {
	float: right;
}

#flow_available_outcome_previews {
	padding-left: 0;
	position: relative;
	top: -200px;
	left: 130px;
	z-index: 1;
	height: 100px;
	margin-bottom: 0;
}

#flow_content_right {
	position: relative;
	width: 100%;
	z-index: 3;
	background-color: #fff;
	display: none;
}

.available-outcome-preview-container {
	height: 100px;
	float: left;
	width: 100px;
}

.outcome-preview-slider {
	visibility: hidden;
}

.outcome-preview-title {
	text-align: center;
	font-size: smaller;
	font-family: arial;
	position: relative;
	width: 100px;
	height: 100px;
	top: -87px;
	background-color: #FFF;
	color: #000;
	opacity: 0.8;
	border: 1px solid #fff;
	padding: 0 2px;
}

.outcome-preview-title:hover {
	border: 1px solid #d0d0d0;
}

img.outcome-preview-logo {
	margin: 12px 0 0 12px;
}

#flow_outcome_details {
	display: none;
}

#flow_outcome_details_image {
	float: left;
}

#flow_outcome_details_title {
	float: right;
}

#flow_outcome_details_description {
	clear: both;
}

#flow_outcome_modal_unanswered_count {
	display: none;
}

.minor-info {
	font-size: small;
	color: gray;
}

.carousel-caption {
	text-shadow: none;
}

.question-explanation-header {
	color: #2d6ca2;
	margin-top: 5px;
}

.question-explanation-content {
	display: none;
	border: 1px dashed #2d6ca2;
	margin: 5px 0 5px 0;
	padding: 5px;
}

.question-explanation-content ul {
	list-style: square;
	margin: 5px 0 5px 0;
}

.question-explanation-content p {
	margin: 5px;
}

.btn-unavailable {
	background-color: transparent;
	background-image: none;
	cursor: default;
	color: #d0d0d0;
}

.btn-unavailable:focus {
	outline: none;
	color: #d0d0d0;
}

.btn-unavailable:hover {
	color: #d0d0d0;
}

.outcome-view {
	border: 1px dotted #d0d0d0;
	padding: 4px;
	margin-top: 10px;
}

#flow_outcome_recent_changes {
	display: none;
}

#flow_no_options_note_container {
	padding: 10px 16px 10px 16px;
	border: 1px solid #ff0000;
	background-color: #FCF0E3;
	display: none;
}

#flow_outcome_recent_changes_content {
	float: left;
	margin-left: 10px;
}

#flow_outcome_details_modal {
	display: none;
}

.outcome-history-nav {
	visibility: hidden;
	float: left;
}

input.hint-text {
	color: gray;
}

.input-attention {
	border-color: red !important;
}

.outcomes-hide {
	color: #BFB8B8;
}

.question-title {

}

#flow_questions {
	display: none;
}

#flow_identity_thanks {
	display: none;
}

.title-supplemental-top {
	font-size: small;
	vertical-align: top;
}

#flow_intro {
	text-align: justify;
}

.question-important-note {
	padding: 10px;
	background-color: #2D6CA2;
	color: #fff;
}

#flow_restart_confirm {
	display: none;
}
