<div class="carousel-caption">
	<div id="question_<%= question.get("id") %>" class="question">
		<h4>Question <%= question.get("id") %></h4>
		<p><%= question.get("content") %></p>
		<% if(explanations && explanations.length) { %>
		<div class="question-explanation">
			<div class="question-explanation-header clickable clickable-colour">
				<img src="images/0.png" class="sprites emblem-notice" width="24" height="24" title="Why this question?" />
				Why this question?
			</div>
			<div class="question-explanation-content">
				<ul>
				<% _.each(explanations, function(explanation) { %> 
					<li><%= explanation %></li>
				<% }) %>
				</ul>
			</div>
		</div>
		<% } %>
	</div>
	<div id="answers_<%= question.get("id") %>" class="answers">
		<%= questionBody %>
	</div>
	<hr />
</div>
