div.answer {
	cursor: pointer;
}

.flow-carousel-navigation {
	visibility: hidden;
	cursor: pointer;
	position: relative;
	top: 20px;
	z-index: 1;
}

#flow_carousel_navigation_back {
	float: left;
}

#flow_carousel_navigation_forward {
	float: right;
}

#flow_outcomes {
	clear: both;
}

.question {
	text-align: left;
	color: black;
}

.answers {
	padding: 20px 0 0 10px;
	text-align: left;
	color: black;
}

.answer {
	height: 24px;
}

.answer-content {
	float: left;
	font-weight: bold;
}

.answer-pad {
	float: left;
	width: 24px;
	padding: 2px;
}

.selected-answer-pad {
	background: url('img/tick-20x20.png') no-repeat;
}

.outcome-preview {
	cursor: pointer;
}

.outcome-preview-unavailable {
	background-color: gray;
}

.outcome-preview-available {
	background-color: green;
}
